.container {
  display: flex;
  gap: 60px;
}

.conn {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: green;
}

.notConn {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}
