.containerForOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shipsOptions {
  height: 120px;
  width: 500px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
