.containerForOptions {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shipsOptions {
  height: 60px;
  width: 300px;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
